<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ordine">
      <h2 data-cy="ordineDetailsHeading"><span jhiTranslate="finanSushiApp.ordine.detail.title">Ordine</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ordine.id }}</span>
        </dd>
        <dt><span jhiTranslate="finanSushiApp.ordine.locale">Locale</span></dt>
        <dd>
          <div *ngIf="ordine.locale">
            <a [routerLink]="['/locale', ordine.locale?.id, 'view']">{{ ordine.locale?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finanSushiApp.ordine.utente">Utente</span></dt>
        <dd>
          <div *ngIf="ordine.utente">
            <a [routerLink]="['/utente', ordine.utente?.id, 'view']">{{ ordine.utente?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ordine', ordine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
