<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-storico-ordini-heading"
        data-cy="StoricoOrdiniCreateUpdateHeading"
        jhiTranslate="finanSushiApp.storicoOrdini.home.createOrEditLabel"
      >
        Create or edit a Storico Ordini
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finanSushiApp.storicoOrdini.note" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finanSushiApp.storicoOrdini.utente" for="field_utente">Utente</label>
          <select class="form-control" id="field_utente" data-cy="utente" name="utente" formControlName="utente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="utenteOption.id === editForm.get('utente')!.value?.id ? editForm.get('utente')!.value : utenteOption"
              *ngFor="let utenteOption of utentesSharedCollection; trackBy: trackUtenteById"
            >
              {{ utenteOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finanSushiApp.storicoOrdini.locale" for="field_locale">Locale</label>
          <select class="form-control" id="field_locale" data-cy="locale" name="locale" formControlName="locale">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="localeOption.id === editForm.get('locale')!.value?.id ? editForm.get('locale')!.value : localeOption"
              *ngFor="let localeOption of localesSharedCollection; trackBy: trackLocaleById"
            >
              {{ localeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
