<div>
  <h2 id="page-heading" data-cy="PiattoHeading">
    <span jhiTranslate="finanSushiApp.piatto.home.title">Piattos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finanSushiApp.piatto.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-piatto"
        [routerLink]="['/piatto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finanSushiApp.piatto.home.createLabel"> Create a new Piatto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="piattos?.length === 0">
    <span jhiTranslate="finanSushiApp.piatto.home.notFound">No piattos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="piattos && piattos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codice">
            <span jhiTranslate="finanSushiApp.piatto.codice">Codice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descrizione">
            <span jhiTranslate="finanSushiApp.piatto.descrizione">Descrizione</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="url"><span jhiTranslate="finanSushiApp.piatto.url">Url</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spicy">
            <span jhiTranslate="finanSushiApp.piatto.spicy">Spicy</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vegan">
            <span jhiTranslate="finanSushiApp.piatto.vegan">Vegan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="limiteOrdine">
            <span jhiTranslate="finanSushiApp.piatto.limiteOrdine">Limite Ordine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ordine.id">
            <span jhiTranslate="finanSushiApp.piatto.ordine">Ordine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="storicoOrdini.id">
            <span jhiTranslate="finanSushiApp.piatto.storicoOrdini">Storico Ordini</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locale.id">
            <span jhiTranslate="finanSushiApp.piatto.locale">Locale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let piatto of piattos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/piatto', piatto.id, 'view']">{{ piatto.id }}</a>
          </td>
          <td>{{ piatto.codice }}</td>
          <td>{{ piatto.descrizione }}</td>
          <td>{{ piatto.url }}</td>
          <td>{{ piatto.spicy }}</td>
          <td>{{ piatto.vegan }}</td>
          <td>{{ piatto.limiteOrdine }}</td>
          <td>
            <div *ngIf="piatto.ordine">
              <a [routerLink]="['/ordine', piatto.ordine?.id, 'view']">{{ piatto.ordine?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="piatto.storicoOrdini">
              <a [routerLink]="['/storico-ordini', piatto.storicoOrdini?.id, 'view']">{{ piatto.storicoOrdini?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="piatto.locale">
              <a [routerLink]="['/locale', piatto.locale?.id, 'view']">{{ piatto.locale?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/piatto', piatto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/piatto', piatto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(piatto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="piattos && piattos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
